<nav aria-label="...">
	<ul class="pagination">
		<div *ngIf="hasPageSizeOptions()" class="btn-group">
		  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Page Size
		  </button>
		  <div class="dropdown-menu">
		   	<button (click)="updatePageSize($event)" class="dropdown-item" *ngFor="let option of pageSizeOptions">{{option}}</button>
		  </div>
		</div>
		<li [className]="hasPreviousPage() ? 'page-item': 'page-item disabled'">
			<button class="page-link" (click)="previousPage()" aria-label="Previous">Previous</button>
		</li>
		<!--
		<li class="page-item" *ngFor="let page of pages">
			<button class="page-link" (click)="updatePageIndex($event)">{{page}}</button>
		</li>
		-->
		<li [className]="hasNextPage() ? 'page-item': 'page-item disabled'">
			<button class="page-link" (click)="nextPage()" aria-label="Next">Next</button>
		</li>
	</ul>
</nav>
